body {
    line-height: 0;
    box-sizing: border-box;
}
#interface, #duckyImage{
    border: 1px solid black;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.styleIcons i {
    font-size: 2em;
    background-color: #a2d9ff;
    padding: .5em;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    transition: background-color .25s, color .25s;
}
.styleIcons i:hover {
    background-color: white;
    color: #a2d9ff;
}
.styleIcons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: #a2d9ff;
}
#waves {
    fill:#a2d9ff;
}