header {
    display: -webkit-flex;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #A23E48;
    align-items: center;

}

header h1 {
    color: #FFF275;
    font-size: 5vw;

}