
div.row::after{
   clear: both;
   content: "";
   display: table;
}
div[class^="col-"]{
   float: left;
}
div.col-1-1{
   width: 100%;
}
div.col-1-2{
   width: 50%;
}

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}
ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}


html{
   height: 750px;
   background: #FAFAFA;
}
p{
   color: #27233A;
   font-family: 'Roboto Condensed', sans-serif;
}
nav#horizontal {
   width: 100%;
}

nav#horizontal ul {
  text-align: center;
   width: 100%;
   float:left;
   clear:left;	
   height: 90px;
}

nav#horizontal ul::after{
   clear: both;
   content:"";
   display: table;
}

nav#horizontal li a {
   color: #FC7753;
   display: block;
   width: 100%;
   margin-top: 2%;
   margin-left: auto;
   margin-right: auto;
   font-size: 30px;
   width: 20%;
   text-decoration: none;
   font-family: 'Varela Round';
}
nav#horizontal li a:hover{
   text-shadow: black 5px 5px 25px;
}
nav#horizontal > ul li {
   float: left;
}

li{
   align-content: center;
   text-align: center;
   padding: 20px; 
}

nav{
   position: absolute;
   text-align: center;
   left: 40px;
   top: 5px;
}


img{
   display: block;
}
header{
   display: -webkit-flex;
   display: flex;
   flex-flow: row wrap;
   -webkit-flex-flow: row wrap;
   margin-top:auto;
   text-align: center;
   width: 100vw;
   background-color: #FFF34D ;
   margin-right: 0px;
   right: 0px;
   height: 90px;
}
img#logo{
   position: absolute;
   right: 50px;
   top: 7px;
}

img#rubberDuck{
   padding-bottom: 50px;
   background-color: #FAFAFA;
}
div#duck{
   height: 700px;
   overflow: hidden;
}
div#title{
   text-align: center;
   font-size: 130px;
   margin-top: 20%;
   font-family: 'Varela Round';
   color: #00A0AF;
   text-shadow: black 0px 0px 2px;
}

div#bigBoi{
   height: 750px;
   overflow: scroll;
   text-align: center;
   box-shadow: black 0px 5px 10px;
}
div#about{
   margin-top: 180px;
   margin-bottom: 180px;
}
#about,#inspire{
   padding-left: 20px;
   padding-right: 20px;
}
h2#first{
   text-align: center;
   font-size: 60px;
   margin-top: 140px;
   font-family: 'Varela Round';
   color: #FC7753;
}
h2.last{
   text-align: center;
   font-family: 'Varela Round';
   font-size: 50px;
   margin-bottom: 20px;
}
div#about p{
   font-size: 30px;
   font-family: 'Varela Round';
}
p#inspire{
   font-size: 30px;
   font-family: 'Varela Round';
}
div.pictures img{
   border: black 2px solid;
   border-radius: 60px;
   margin-left: 80px;
   margin-bottom: 20px;
}
/*

button{
   height: 20px;
   width: 20px;
   border-radius: 10px;
   margin: 5px 0px 5px 10px;
   border-style: outset;   
}

button#one{
   background-color: #3C91E6;
}

button#two{
   background-color: #A23E48;
}

button#three{
   background-color: #8980F5;
}

button#four{
   background-color:#111D4A; ;
}
footer{
   background-color: #3C91E6;

   width: 100%;
}

footer{
   position: absolute;
   bottom: 0px;
}


*/