@charset "utf-8";

div.row::after{
    clear: both;
    content: "";
    display: table;
}
div[class^="col-"]{
    float: left;
}
div.col-1-1{
    width: 100%;
}
div.col-1-2{
    width: 50%;
}

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}



nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

header{
    position: absolute;
    width:100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #001C55;
}
header h1{
    position: absolute;
    margin-left: 5px;
    margin-top: 1%;
    left: 300px;
    color: rgb(236, 228, 65);
    font-size: 5vw;
}
